<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grupo4.georeferencia">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.App"> <!-- Asegúrate de cerrar con ">" ya que contiene un hijo -->

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application> <!-- Aquí cierra correctamente -->

</manifest>
